<app-navbar></app-navbar>

<div class="about-header">

    <h2>#Know Us</h2>
    <p>Know us, Trust Us, Experience Quality.</p>
 
</div>

<div class="section-p1">
    <div class= "founders">
    <h2>The Founders</h2>
        <div class="moemen">
            <img src="../../assets/images/moemen3.jpg" alt="">
        </div>
        <div class="bti">
            <img src="../../assets/images/b+i.jpg" alt="">
        </div>
    </div>
    <div class="who">
        <h2>Who we are?</h2>
        <div>
        <p>We are <br> <img src="../../assets/images/logo.png" alt="" style="height: 100px; width: 200px;" > <br>  The ultimate destination where artistic brilliance converges with curated excellence. Our virtual gallery showcases a diverse array of artworks, meticulously chosen to cater to various tastes and occasions.
            <br><br> <mark>Brahem Ibtihel</mark> and <mark>Khchimadi Moemen</mark> founded <b><i> ArtMarket </i> </b>with a mission to provide high-quality art. Immerse yourself in exceptional service and affordable prices as we personally deliver the finest artworks directly to your doorstep. At <b><i> ArtMarket </i> </b>, the joy of owning art transcends luxury – it's an inclusive right for everyone. Transform your space with the unparalleled essence of creativity, exclusively from <b><i> ArtMarket </i> </b>.
        </div>

 
    </div>
</div>
<div class="footer">
<app-footer></app-footer>
</div>