
<footer class="section-p1">
    
    <div class="col">
        <h4>CONTACT</h4>
        <p><strong>Address :</strong>58,Rue Des Entrepreneurs Charguia II  | 2035 Tunis</p>
        <p><strong>Phone :</strong>(+216) 56 206 248 |  (+216) 50 565 309</p>
        
        
    </div>

    <div class="col">
        <h4>OUR SERVICES</h4>
        <a href="#">Our stores</a>
        <a href="#">Business Service</a>
        <a href="#">Customer Service</a>
        <a href="#">Drive Service</a>
        <a href="#">Delivery Service</a>
        <a href="#">After-sales service</a>
        <a href="#">Contact us</a>
        
    </div>

    <div class="col">
        <h4>INFORMATION</h4>
        <a href="about.html">About Us</a>
        <a href="#">Terms and Conditions</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Shipping & Returns</a>
        <a href="#">Secure Shopping</a>
        <a href="#">Order Status</a>
        <a href="#">Payment Method </a>
    </div>


    

    <div class="copyright">
        <p>Copyright © 2023-present MB, Inc. All rights reserved.</p>
    </div>

   </footer>